*
!.gitignore
!Scenarios/
!Scenarios/Shared/
!Scenarios/Shared/Configs/
!Scenarios/Shared/Configs/Buildings/

# Research
!Scenarios/Shared/Levels/
!Scenarios/Shared/Levels/Base/
!Scenarios/Shared/Levels/Base/IdeaTree_Nodes.umap
!Scenarios/Shared/Configs/Research/
!Scenarios/Shared/Configs/Research/ResearchSubCategories/
!Scenarios/Shared/Configs/Research/ResearchSubCategories/DA_FrostlandResearchSubCategory.uasset
!Scenarios/Shared/Configs/Research/ResearchSubCategories/DA_TechnologyResearchSubCategory.uasset
!Scenarios/Shared/Configs/Research/ResearchTopics

# Deposits
!Scenarios/Shared/Configs/Deposits/DepositTypes/
!Scenarios/Shared/Configs/Deposits/DepositTypes/Steel/
!Scenarios/Shared/Configs/Deposits/DepositTypes/Steel/DA_Deposit_Steel_Small.uasset

# Policies
!Scenarios/Shared/Configs/Policies/*
!Scenarios/Shared/Configs/ModifierEffectTemplates/*
!Scenarios/Shared/Configs/Messages/Ghosts/Consequences/*
!Scenarios/Shared/Configs/Messages/Ghosts/Consequences/GhostOnly/New/DA_Smog_Redistribution_Consequence_Ghost.uasset
!Scenarios/Shared/Configs/Policies/Society/_SocietyLawGroups/DA_Pollution_Law_Group.uasset
!Scenarios/Shared/Configs/Policies/Society/Pollution/DA_Smog_Redistribution_Law.uasset
!Scenarios/Shared/Configs/Policies/Society/Pollution/DA_Smog_RedistributionLaw.uasset
!Content/UtilitiesTools/EditorUtilities/EditorTools/PolicyBrowser/EditorToolElements/DT_ET_PoliciesExport.uasset



# Districts
!Scenarios/Shared/Configs/Districts/
!Scenarios/Shared/Configs/Districts/Expansions/
!Scenarios/Shared/Configs/Districts/Expansions/*
!Scenarios/Shared/Configs/Districts/DistrictTypes/
!Scenarios/Shared/Configs/Districts/DistrictTypes/*
!Scenarios/Shared/Configs/Districts/DistrictViewPatterns/DA_HousingSlumViewPattern.uasset

!Scenarios/Shared/Configs/Abilities/
!Scenarios/Shared/Configs/Abilities/DistrictAbilities/
!Scenarios/Shared/Configs/Abilities/DistrictAbilities/BuildingAbilities/
!Scenarios/Shared/Configs/Abilities/DistrictAbilities/BuildingAbilities/DA_Toggle_IndustrialExpandedGoodsProduction.uasset
!Scenarios/Shared/Configs/Abilities/DistrictAbilities/BuildingAbilities/DA_Toggle_IndustrialExpandedGoodsProduction_2.uasset
!Scenarios/Shared/Configs/Abilities/DistrictAbilities/BuildingAbilities/DA_Toggle_IndustrialExpandedGoodsProduction_3.uasset
!Scenarios/Shared/Configs/Abilities/DistrictAbilities/BuildingAbilities/DA_Toggle_IndustrialGoodsProduction.uasset
!Scenarios/Shared/Configs/UI/DA_UiConfig.uasset

!Scenarios/Shared/Configs/Territories/
!Scenarios/Shared/Configs/Territories/DA_BaseTerritoryExplorationType.uasset

# Generator Upgrades
!Scenarios/Shared/Configs/Generator/
!Scenarios/Shared/Configs/Generator/GeneratorModes/
!Scenarios/Shared/Configs/Generator/GeneratorModes/*

# Crime Rework
!Scenarios/Shared/Configs/Buildings/GuardTower
!Scenarios/Shared/Configs/Buildings/GuardTower*

# Progress & Adaptation Rebalance
!Scenarios/Shared/Configs/Buildings/AdvancedCoalMine/
!Scenarios/Shared/Configs/Buildings/AdvancedCoalMine/*
!Scenarios/Shared/Configs/Buildings/AdvancedHeatPump/
!Scenarios/Shared/Configs/Buildings/AdvancedHeatPump/*
!Scenarios/Shared/Configs/Buildings/AdvancedPumpjacks/
!Scenarios/Shared/Configs/Buildings/AdvancedPumpjacks/*
!Scenarios/Shared/Configs/Buildings/CharcoalKilns/
!Scenarios/Shared/Configs/Buildings/CharcoalKilns/*
!Scenarios/Shared/Configs/Buildings/CoalLiquefactor/
!Scenarios/Shared/Configs/Buildings/CoalLiquefactor/*
!Scenarios/Shared/Configs/Buildings/CoalMine/
!Scenarios/Shared/Configs/Buildings/CoalMine/*
!Scenarios/Shared/Configs/Buildings/DeepProspector/
!Scenarios/Shared/Configs/Buildings/DeepProspector/*
!Scenarios/Shared/Configs/Buildings/HeatPump/
!Scenarios/Shared/Configs/Buildings/HeatPump/*
!Scenarios/Shared/Configs/Buildings/Ironworks/
!Scenarios/Shared/Configs/Buildings/Ironworks/*
!Scenarios/Shared/Configs/Buildings/AdvancedDrumHotHouses/
!Scenarios/Shared/Configs/Buildings/AdvancedDrumHotHouses/*
!Scenarios/Shared/Configs/Buildings/DrumHothouse/
!Scenarios/Shared/Configs/Buildings/DrumHothouse/*
!Scenarios/Shared/Configs/Buildings/GeneratorConnector/
!Scenarios/Shared/Configs/Buildings/GeneratorConnector/*
!Scenarios/Shared/Configs/Buildings/FiltrationTower/
!Scenarios/Shared/Configs/Buildings/FiltrationTower/*
!Scenarios/Shared/Configs/Buildings/ExplorationCenter/
!Scenarios/Shared/Configs/Buildings/ExplorationCenter/*
!Scenarios/Shared/Configs/Buildings/Generator/
!Scenarios/Shared/Configs/Buildings/Generator/*
!Scenarios/Shared/Configs/Buildings/AutomatonFactory
!Scenarios/Shared/Configs/Buildings/AutomatonFactory/*
!Scenarios/Shared/Configs/Buildings/GarbageCollection/
!Scenarios/Shared/Configs/Buildings/GarbageCollection/*
!Scenarios/Shared/Configs/Buildings/Pumpjacks/
!Scenarios/Shared/Configs/Buildings/Pumpjacks/*
!Scenarios/Shared/Configs/Buildings/Sawmills/
!Scenarios/Shared/Configs/Buildings/Sawmills/*
!Scenarios/Shared/Configs/Buildings/SteelFurnace/
!Scenarios/Shared/Configs/Buildings/SteelFurnace/*
!Scenarios/Shared/Configs/Buildings/Woodworks/
!Scenarios/Shared/Configs/Buildings/Woodworks/*
!Scenarios/Shared/Configs/Buildings/OutfitterStation/
!Scenarios/Shared/Configs/Buildings/OutfitterStation/*
!Scenarios/Shared/Configs/Buildings/ReloadingTerminal/
!Scenarios/Shared/Configs/Buildings/ReloadingTerminal/*
!Scenarios/Shared/Configs/Buildings/PrefabsFactory/
!Scenarios/Shared/Configs/Buildings/PrefabsFactory/*
!Scenarios/Shared/Configs/Buildings/PyrochemicalOilExtractor/
!Scenarios/Shared/Configs/Buildings/PyrochemicalOilExtractor/*
!Scenarios/Shared/Configs/Buildings/RepurposingFactory/
!Scenarios/Shared/Configs/Buildings/RepurposingFactory/*
!Scenarios/Shared/Configs/Buildings/RubberMill/
!Scenarios/Shared/Configs/Buildings/RubberMill/*
!Scenarios/Shared/Configs/Buildings/WoodworkingFactory/
!Scenarios/Shared/Configs/Buildings/WoodworkingFactory/*
!Scenarios/Shared/Configs/Abilities/
!Scenarios/Shared/Configs/Abilities/GeneratorAbilities/
!Scenarios/Shared/Configs/Abilities/GeneratorAbilities/DA_Ability_Surplus.uasset

# Steam Core Production & Fertilizer Factories
!Scenarios/Shared/Configs/UI/
!Scenarios/Shared/Configs/UI/EconomicFilters/
!Scenarios/Shared/Configs/UI/EconomicFilters/DA_BuildingsEconomyFilter.uasset
!Scenarios/Shared/Configs/UI/EconomicFilters/DA_FoodEconomyFilter.uasset
!Scenarios/Shared/Configs/Research/ResearchTopics/_Survival/
!Scenarios/Shared/Configs/Research/ResearchTopics/_Survival/Food/
!Scenarios/Shared/Configs/Research/ResearchTopics/_Survival/Food/FertilizerFactories/
!Scenarios/Shared/Configs/Research/ResearchTopics/_Survival/Food/FertilizerFactories/*
!Scenarios/Shared/Configs/Research/ResearchTopics/_Survival/Logistics/
!Scenarios/Shared/Configs/Research/ResearchTopics/_Survival/Logistics/SteamCores/
!Scenarios/Shared/Configs/Research/ResearchTopics/_Survival/Logistics/SteamCores/*
!Scenarios/Shared/Configs/Research/ResearchTopics/_Survival/Logistics/SteamCores/Outcomes/
!Scenarios/Shared/Configs/Research/ResearchTopics/_Survival/Logistics/SteamCores/Outcomes/*
!Scenarios/Shared/Configs/Buildings/CoreProduction/
!Scenarios/Shared/Configs/Buildings/CoreProduction/*
!Scenarios/Shared/Configs/Buildings/FertilizerFactory/
!Scenarios/Shared/Configs/Buildings/FertilizerFactory/*

# Sustainable Hunting
!Scenarios/Shared/Configs/Deposits/
!Scenarios/Shared/Configs/Deposits/DepositTypes/
!Scenarios/Shared/Configs/Deposits/DepositTypes/Soil/
!Scenarios/Shared/Configs/Deposits/DepositTypes/Soil/*
!Scenarios/Shared/Configs/Outposts/
!Scenarios/Shared/Configs/Outposts/Food/
!Scenarios/Shared/Configs/Outposts/Food/*
!Scenarios/Shared/Configs/Sites/
!Scenarios/Shared/Configs/Sites/ResourceSites/
!Scenarios/Shared/Configs/Sites/ResourceSites/DA_FoodOutpostSite.uasset