*
!.gitignore
!Scenarios/
!Scenarios/Shared/
!Scenarios/Shared/Configs/
!Scenarios/Shared/Configs/Buildings/

!Scenarios/Shared/Configs/Buildings/DrugsManufactory/
!Scenarios/Shared/Configs/Buildings/DrugsManufactory/*


!Scenarios/Shared/Configs/Buildings/AdvancedCoalMine/
!Scenarios/Shared/Configs/Buildings/AdvancedCoalMine/*
!Scenarios/Shared/Configs/Buildings/AdvancedHeatPump/
!Scenarios/Shared/Configs/Buildings/AdvancedHeatPump/*
!Scenarios/Shared/Configs/Buildings/AdvancedPumpjacks/
!Scenarios/Shared/Configs/Buildings/AdvancedPumpjacks/*
!Scenarios/Shared/Configs/Buildings/CharcoalKilns/
!Scenarios/Shared/Configs/Buildings/CharcoalKilns/*
!Scenarios/Shared/Configs/Buildings/CoalLiquefactor/
!Scenarios/Shared/Configs/Buildings/CoalLiquefactor/*
!Scenarios/Shared/Configs/Buildings/CoalMine/
!Scenarios/Shared/Configs/Buildings/CoalMine/*
!Scenarios/Shared/Configs/Buildings/DeepProspector/
!Scenarios/Shared/Configs/Buildings/DeepProspector/*
!Scenarios/Shared/Configs/Buildings/HeatPump/
!Scenarios/Shared/Configs/Buildings/HeatPump/*
!Scenarios/Shared/Configs/Buildings/Ironworks/
!Scenarios/Shared/Configs/Buildings/Ironworks/*
!Scenarios/Shared/Configs/Buildings/AdvancedDrumHotHouses/
!Scenarios/Shared/Configs/Buildings/AdvancedDrumHotHouses/*
!Scenarios/Shared/Configs/Buildings/DrumHothouse/
!Scenarios/Shared/Configs/Buildings/DrumHothouse/*
!Scenarios/Shared/Configs/Buildings/GeneratorConnector/
!Scenarios/Shared/Configs/Buildings/GeneratorConnector/*
!Scenarios/Shared/Configs/Buildings/FiltrationTower/
!Scenarios/Shared/Configs/Buildings/FiltrationTower/*
!Scenarios/Shared/Configs/Buildings/ExplorationCenter/
!Scenarios/Shared/Configs/Buildings/ExplorationCenter/*
!Scenarios/Shared/Configs/Buildings/Generator/
!Scenarios/Shared/Configs/Buildings/Generator/*
!Scenarios/Shared/Configs/Buildings/AutomatonFactory
!Scenarios/Shared/Configs/Buildings/AutomatonFactory/*
!Scenarios/Shared/Configs/Buildings/GarbageCollection/
!Scenarios/Shared/Configs/Buildings/GarbageCollection/*
!Scenarios/Shared/Configs/Buildings/Pumpjacks/
!Scenarios/Shared/Configs/Buildings/Pumpjacks/*
!Scenarios/Shared/Configs/Buildings/Sawmills/
!Scenarios/Shared/Configs/Buildings/Sawmills/*
!Scenarios/Shared/Configs/Buildings/SteelFurnace/
!Scenarios/Shared/Configs/Buildings/SteelFurnace/*
!Scenarios/Shared/Configs/Buildings/Woodworks/
!Scenarios/Shared/Configs/Buildings/Woodworks/*
!Scenarios/Shared/Configs/Buildings/OutfitterStation/
!Scenarios/Shared/Configs/Buildings/OutfitterStation/*
!Scenarios/Shared/Configs/Buildings/ReloadingTerminal/
!Scenarios/Shared/Configs/Buildings/ReloadingTerminal/*
!Scenarios/Shared/Configs/Buildings/PrefabsFactory/
!Scenarios/Shared/Configs/Buildings/PrefabsFactory/*
!Scenarios/Shared/Configs/Buildings/PyrochemicalOilExtractor/
!Scenarios/Shared/Configs/Buildings/PyrochemicalOilExtractor/*
!Scenarios/Shared/Configs/Buildings/RepurposingFactory/
!Scenarios/Shared/Configs/Buildings/RepurposingFactory/*
!Scenarios/Shared/Configs/Buildings/RubberMill/
!Scenarios/Shared/Configs/Buildings/RubberMill/*
!Scenarios/Shared/Configs/Buildings/WoodworkingFactory/
!Scenarios/Shared/Configs/Buildings/WoodworkingFactory/*
!Scenarios/Shared/Configs/Abilities/
!Scenarios/Shared/Configs/Abilities/GeneratorAbilities/
!Scenarios/Shared/Configs/Abilities/GeneratorAbilities/DA_Ability_Surplus.uasset